<a href="https://colab.research.google.com/github/caraujom/Labs_IH/blob/main/activity1_04cra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.04 Activity 1
Refer to the file files_for_activities/file1.csv for this exercise.

Load data (file1.csv) in a new Jupyter notebook.

Write the code to clean the columns 'ic4' and 'ic5' of null values in the dataframe.

Use the head() to check the new dataframe.

Debate
Is it better to fill null values with the mean or with the median?
Can we drop all rows with null values?

In [2]:
import pandas as pd

In [5]:
data = pd.read_csv('file1.csv')
data

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,114721,OK,NaN,1040,472,656.0,0,26962,2,56,609.0,579,11.666667,0,0,C2,15.0
1003,149152,CA,M,4507,842,962.0,95,54642,17,50,1004.0,893,20.000000,1,4401,S1,20.0
1004,959,IA,F,586,349,465.0,1,15304,1,77,413.0,404,7.300000,0,4404,C2,10.0
1005,179563,WA,male,842,420,494.0,2,12894,41,24,419.0,476,16.400000,1,5001,S2,23.0
1006,41243,FL,F,556,246,330.0,0,10272,2,56,277.0,292,9.818182,2,2201,S2,12.0

In [6]:
data.dtypes

CONTROLN      int64
STATE        object
GENDER       object
HV1          object
IC1           int64
IC4         float64
HVP1          int64
IC5          object
POBC1         int64
POBC2         int64
IC2         float64
IC3           int64
AVGGIFT     float64
TCODE         int64
DOB           int64
DOMAIN       object
TARGET_D    float64
dtype: object

In [11]:
data.isna().sum()/len('IC4')

CONTROLN     0.000000
STATE        0.000000
GENDER      13.333333
HV1          0.666667
IC1          0.000000
IC4          0.333333
HVP1         0.000000
IC5          0.000000
POBC1        0.000000
POBC2        0.000000
IC2          0.333333
IC3          0.000000
AVGGIFT      0.000000
TCODE        0.000000
DOB          0.000000
DOMAIN       0.000000
TARGET_D     0.000000
dtype: float64

In [ ]:
data['IC4'].unique()

In [ ]:
data.isna

In [13]:
import pandas as pd
import numpy as np
promedio_ic4=np.mean(data['IC4'])
promedio_ic4
data['IC4']=data['IC4'].fillna(445.05)
data["IC4"].unique()

array([ 520.  ,  473.  ,  436.  ,  413.  ,  348.  ,  501.  ,  419.  ,
        560.  ,  250.  ,  617.  ,  781.  ,  588.  ,  496.  ,    0.  ,
        316.  ,  523.  ,  702.  ,  411.  ,   74.  ,  625.  ,  445.05,
        656.  ,  341.  ,  370.  ,  432.  ,  650.  ,  317.  ,  212.  ,
        393.  ,  392.  ,  416.  ,  264.  ,  396.  ,  503.  ,  269.  ,
        531.  ,  190.  ,  394.  ,  545.  ,  678.  ,  357.  ,  750.  ,
        356.  ,  472.  ,  376.  ,  446.  ,  257.  ,  355.  ,  256.  ,
        380.  ,  490.  ,  407.  ,  373.  ,  536.  ,  485.  ,  382.  ,
        444.  ,  337.  ,  538.  ,  329.  ,  428.  ,  463.  ,  300.  ,
        399.  ,  788.  ,  780.  ,  903.  ,  224.  ,  383.  ,  309.  ,
        352.  ,  663.  ,  497.  ,  379.  ,  268.  ,  614.  ,  613.  ,
        737.  ,  215.  ,  400.  ,  680.  ,  564.  ,  410.  ,  368.  ,
       1128.  ,  319.  ,  640.  ,  624.  ,  342.  ,  324.  ,  609.  ,
        301.  ,  290.  ,  179.  ,  279.  ,  734.  ,  299.  ,  517.  ,
        464.  ,  495.  ,  326.  ,  591.  ,  273.  ,  402.  ,  468.  ,
        584.  ,  302.  ,  346.  ,  406.  ,  847.  ,  848.  ,  482.  ,
        581.  ,  508.  ,  286.  ,  530.  ,  843.  ,  451.  ,  459.  ,
        254.  ,  418.  ,  332.  ,  372.  ,  404.  ,  605.  ,  362.  ,
        330.  ,  280.  ,  555.  ,  312.  ,  601.  ,  543.  , 1065.  ,
        570.  ,  248.  ,  823.  ,  541.  ,  340.  ,  335.  ,  210.  ,
        566.  ,  456.  ,  441.  ,  318.  ,  327.  ,  313.  ,  442.  ,
        347.  ,  447.  ,  672.  ,  785.  ,  466.  ,  230.  ,  438.  ,
        381.  ,  544.  ,  208.  ,  744.  ,  433.  ,  187.  ,  408.  ,
        423.  ,  331.  ,  261.  ,  850.  ,  425.  ,  732.  ,  471.  ,
        385.  ,  669.  ,  651.  ,  427.  ,  805.  ,  353.  ,  388.  ,
        494.  ,  294.  ,  295.  ,  377.  ,  249.  ,  390.  ,  358.  ,
        724.  ,  772.  ,  661.  ,  537.  ,  232.  ,  654.  ,  679.  ,
        825.  ,  548.  ,  398.  ,  486.  ,  434.  ,  525.  ,  562.  ,
        170.  ,  718.  ,  474.  ,  616.  ,  310.  , 1085.  ,  453.  ,
        582.  ,  918.  ,  454.  ,  949.  ,  516.  ,  303.  ,  896.  ,
        577.  ,  288.  ,  349.  ,  465.  ,  320.  ,  371.  ,  218.  ,
        470.  ,  611.  ,  278.  ,  219.  ,  363.  ,  325.  ,  559.  ,
        391.  ,  725.  ,  498.  ,  437.  ,  231.  ,  403.  ,  422.  ,
        253.  ,  621.  ,  240.  ,  338.  ,  283.  ,  222.  ,  426.  ,
        375.  ,  660.  ,  935.  ,  481.  ,  457.  ,  275.  ,  378.  ,
        315.  ,  527.  ,  272.  ,  158.  ,  521.  ,  449.  ,  741.  ,
        606.  ,  807.  ,  351.  , 1217.  ,  533.  ,  244.  ,  350.  ,
        450.  ,  361.  ,  307.  ,  354.  ,  745.  ,  364.  ,  366.  ,
        506.  ,  304.  ,  507.  ,  677.  ,  477.  ,  263.  ,  274.  ,
        620.  ,  801.  ,  746.  ,  488.  , 1191.  ,  619.  ,  491.  ,
        401.  ,  569.  ,  323.  ,  551.  ,  461.  ,  512.  ,  344.  ,
       1119.  ,  203.  ,  539.  ,  282.  ,  585.  ,  664.  ,  583.  ,
        532.  ,  540.  ,  479.  ,  738.  ,  409.  ,  455.  ,  374.  ,
        314.  ,  502.  ,  602.  ,  526.  ,  277.  ,  957.  ,  980.  ,
        649.  ,  163.  ,  499.  ,  360.  ,  557.  ,  574.  ,  770.  ,
        369.  ,  298.  ,  339.  ,  528.  ,  395.  ,  241.  ,  995.  ,
        156.  ,  291.  ,  645.  ,  469.  ,  839.  ,  615.  ,  172.  ,
        306.  ,  308.  ,  892.  ,  235.  ,  871.  ,  961.  ,  487.  ,
        599.  ,  676.  , 1150.  ,  236.  ,  813.  ,  439.  ,  563.  ,
        755.  ,  225.  ,  522.  ,  412.  ,  137.  ,  504.  ,  484.  ,
        336.  ,  818.  ,  284.  ,  270.  ,  787.  ,  321.  ,  587.  ,
        513.  ,  492.  ,  568.  ,  247.  ,  580.  ,  662.  ,  359.  ,
        452.  ,  262.  ,  266.  ,  579.  ,  285.  ,  778.  ,  549.  ,
        458.  ,  475.  ,  386.  ,  985.  ,  287.  ,  228.  ,  138.  ,
        905.  ,  226.  ,  600.  ,  445.  ,  687.  ,  252.  ,  627.  ,
        633.  , 1183.  ,  405.  ,  598.  ,  862.  ,  692.  ,  293.  ,
        246.  ,  797.  ,  947.  ,  721.  ,  752.  ,  571.  ,  276.  ,
        786.  ,  478.  ,  628.  ,  931.  ,  384.  ,  311.  ,  835.  ,
        634.  ,  292.  ,  833.  ,  867.  ,  590.  ,  505.  ,  917.  ,
        229.  ,  467.  ,  281.  ,  251.  ,  626.  ,  265.  ,  826.  ,
        421.  ,  322.  ,  705.  ,  345.  ,  245.  ,  223.  ,  652.  ,
        183.  ,  328.  ,  711.  ,  260.  ,  387.  ,  930.  ,  259.  ,
        575.  ,  476.  ,  448.  ,  185.  ,  729.  ,  424.  ,  443.  ,
        977.  , 1263.  ,  227.  ,  430.  ,  297.  ,  558.  ,  509.  ,
        596.  ,  367.  ,  524.  ,  483.  ,  720.  ,  589.  ,  420.  ,
        642.  ,  670.  ,  572.  ,  854.  ,  343.  ,  904.  ,  431.  ,
        243.  ,  567.  ,  233.  ,  510.  ,  683.  ,  365.  ,  841.  ,
        610.  ,  435.  ,  480.  ,  962.  ,  188.  ,  238.  ,  258.  ])

In [15]:
data['IC5'] =  pd.to_numeric(data['IC5'], errors='coerce')

In [16]:
promedio_ic5=np.mean(data['IC5'])
promedio_ic5

16661.696303696302

In [18]:
data['IC5']=data['IC5'].fillna(16661.696303696302)
data["IC5"].unique()

array([ 21975.  ,  19387.  ,  18837.  ,  14014.  ,  17991.  ,  16022.  ,
        13491.  ,  17872.  ,   8708.  ,  17838.  ,  25775.  ,  20068.  ,
        13803.  ,      0.  ,    445.05,   9493.  ,  28124.  ,  17728.  ,
         4236.  ,  17208.  ,  11779.  ,  26962.  ,  12038.  ,  12826.  ,
        15614.  ,  17606.  ,  14023.  ,   8370.  ,  15627.  ,  12220.  ,
        15336.  ,   9704.  ,  12617.  ,  14552.  ,  10511.  ,  33797.  ,
         5273.  ,  10420.  ,  22281.  ,  20971.  ,  21179.  ,  17292.  ,
        21094.  ,  10484.  ,  15150.  ,  11972.  ,  19185.  ,   7559.  ,
        11792.  ,  10621.  ,   9497.  ,  14045.  ,  16561.  ,  26034.  ,
        12935.  ,  19102.  ,  13816.  ,  11136.  ,  16891.  ,  12313.  ,
        10498.  ,  16777.  ,  10692.  ,  15611.  ,  18492.  ,  11449.  ,
        13218.  ,  49744.  ,  32964.  ,  32718.  ,   7361.  ,  13090.  ,
        11192.  ,   9715.  ,  11428.  ,  19545.  ,  17882.  ,  14104.  ,
        10427.  ,  24251.  ,  19518.  ,  25882.  ,   9819.  ,  11289.  ,
        23170.  ,  21667.  ,  14428.  ,  13564.  ,  52654.  ,  10966.  ,
        25787.  ,  33235.  ,  21875.  ,   9667.  ,  10726.  ,  10701.  ,
        13293.  ,   9843.  ,  23786.  ,   6826.  ,   9747.  ,  10423.  ,
         5727.  ,  10343.  ,  24424.  ,  13024.  ,  17363.  ,  13353.  ,
        13782.  ,  15008.  ,  16427.  ,  12864.  ,  19399.  ,   9138.  ,
        14442.  ,  19444.  ,  19537.  ,  10888.  ,  13162.  ,  12507.  ,
        13561.  ,  29368.  ,  51280.  ,  26199.  ,  20842.  ,  19729.  ,
        18590.  ,  10356.  ,  17420.  ,  53131.  ,  16163.  ,  13805.  ,
        17718.  ,   8443.  ,  14513.  ,  10540.  ,  16019.  ,  11245.  ,
        10385.  ,  20694.  ,  10857.  ,  13321.  ,   8956.  ,  28003.  ,
         9453.  ,  26265.  ,  15886.  ,  60053.  ,  20691.  ,   8962.  ,
        26135.  ,  25828.  ,  16194.  ,  13341.  ,   7139.  ,  17366.  ,
        18907.  ,  16517.  ,  12576.  ,   7080.  ,  10792.  ,  23046.  ,
        15502.  ,  13094.  ,  15350.  ,  15120.  ,  22033.  ,  43828.  ,
        15438.  ,   9520.  ,  17783.  ,  13411.  ,  11815.  ,  17313.  ,
         9064.  ,  33535.  ,  13852.  ,  21980.  ,   9685.  ,  11686.  ,
        16084.  ,  14106.  ,  13344.  ,   7798.  ,  10873.  ,   8726.  ,
        37411.  ,  15160.  ,  27469.  ,  21410.  ,  11360.  ,  20529.  ,
        21559.  ,  16474.  ,  17458.  ,  34382.  ,  12452.  ,  12989.  ,
        15149.  ,  18738.  ,   9980.  ,  21444.  ,  10244.  ,  10417.  ,
        13115.  ,  19609.  ,   9547.  ,  11299.  ,   8381.  ,   8881.  ,
        15105.  ,   9296.  ,  10985.  ,  14300.  ,  18236.  ,  13978.  ,
        24736.  ,  15013.  ,  35544.  ,  31631.  ,  18525.  ,  17053.  ,
         8860.  ,  13460.  ,  18497.  ,  22571.  ,  26360.  ,  20327.  ,
        13462.  ,  13299.  ,  11279.  ,  21458.  ,  16476.  ,  24198.  ,
        18663.  ,  19862.  ,   6682.  ,  21447.  ,  12806.  ,  12391.  ,
        20795.  ,  10171.  ,  64833.  ,  16873.  ,  10521.  ,  23660.  ,
        39481.  ,  19508.  ,  32640.  ,  14248.  ,  18042.  ,   9838.  ,
        31111.  ,  18405.  ,   9248.  ,  13209.  ,  17344.  ,  16254.  ,
        18824.  ,  19165.  ,  10269.  ,   9452.  ,  13011.  ,  24240.  ,
         5043.  ,  15022.  ,  18029.  ,   9240.  ,  15010.  ,   6576.  ,
        15070.  ,  21767.  ,  15361.  ,  12509.  ,  12835.  ,  19149.  ,
        12621.  ,  15958.  ,  11052.  ,  15970.  ,  31773.  ,   9470.  ,
        14538.  ,  17854.  ,  13231.  ,  13662.  ,  14293.  ,   9020.  ,
        13669.  ,  17527.  ,   7115.  ,  17637.  ,   9853.  ,  15322.  ,
        15910.  ,   9654.  ,  27608.  ,  15767.  ,   6845.  ,  10150.  ,
        11115.  ,   9765.  ,  10720.  ,  11072.  ,  13490.  ,   8893.  ,
         8246.  ,  18567.  ,  13135.  ,   9480.  ,  11401.  ,  10731.  ,
        10488.  ,  12950.  ,  10979.  ,  14958.  ,  15491.  ,  10788.  ,
        12518.  ,  24290.  ,  12601.  ,  27875.  ,  15936.  ,  12450.  ,
        10719.  ,  12630.  ,   9706.  ,  17519.  ,   9569.  ,   9086.  ,
        18427.  ,  14981.  ,  23212.  ,  22770.  ,  47363.  ,  14923.  ,
        13150.  ,  94863.  ,  24758.  ,  29990.  ,  12960.  ,  17763.  ,
        16926.  ,   7079.  ,  19029.  ,  10324.  ,  15499.  ,  13184.  ,
        16190.  ,  13837.  ,  10041.  ,   7582.  ,  12388.  ,  24945.  ,
        18572.  ,  11387.  ,  13896.  ,  13433.  ,  15195.  ,  10337.  ,
        18391.  ,  11567.  ,  29871.  ,  11046.  ,  13190.  ,  10897.  ,
        22667.  ,   9346.  ,  13753.  ,  16069.  ,   8947.  ,   8231.  ,
        19923.  ,  30386.  ,   9078.  ,  24844.  ,  26462.  ,  10743.  ,
        60492.  ,  19170.  ,  20171.  ,  12145.  ,  24747.  ,  15765.  ,
        22845.  ,  11885.  ,  12885.  ,  12799.  ,  19082.  ,  14397.  ,
         9583.  ,  16473.  ,  12623.  ,  10994.  ,   8359.  ,   9781.  ,
        12588.  ,  15715.  ,   9190.  ,  13859.  ,  64190.  ,  12994.  ,
         9192.  ,   8797.  ,  18279.  ,  13696.  ,  12539.  ,  17697.  ,
         9637.  ,  16399.  ,   9114.  ,  17204.  ,  14377.  ,  23035.  ,
        26104.  ,   7968.  ,  12494.  ,  26951.  ,   8046.  ,  15360.  ,
         8314.  ,  12734.  ,  15179.  ,  12987.  ,  21648.  ,  17653.  ,
        10031.  ,  12868.  ,  10910.  ,  13351.  ,  10245.  ,  12982.  ,
        13538.  ,  23275.  ,  15002.  ,  42356.  ,  13445.  ,  13133.  ,
         8709.  ,  15287.  ,  14394.  ,  12273.  ,  12929.  ,   8856.  ,
        17032.  ,  10329.  ,  12513.  ,  18284.  ,  22648.  ,  20492.  ,
        29540.  ,  19734.  ,  16133.  ,  17690.  ,  10959.  ,  29903.  ,
        14496.  ,  42236.  ,  34012.  ,  12275.  ,   7089.  ,  14118.  ,
        14345.  ,  12166.  ,  23023.  ,  20867.  ,   8456.  ,  29286.  ,
        11849.  ,  11621.  ,  12519.  ,  17282.  ,  12451.  ,  25386.  ,
        18133.  ,   8018.  ,  13079.  ,   9434.  ,  18951.  ,  43978.  ,
         4437.  ,  13147.  ,   9840.  ,  12225.  ,  14661.  ,  10074.  ,
        10581.  ,  37734.  ,  18247.  ,  23861.  ,  15256.  ,  28878.  ,
        21871.  ,  14424.  ,  12271.  ,   6615.  ,   8675.  ,  20659.  ,
        10590.  ,  10504.  ,  14663.  ,  17869.  ,  14121.  ,  11020.  ,
        44570.  ,  14713.  ,  13377.  ,  12600.  ,   7683.  ,  32072.  ,
        17655.  ,  11235.  ,  13716.  ,  42897.  ,  17187.  ,  13168.  ,
        18591.  ,  11303.  ,  14658.  ,  20940.  ,  20557.  , 174523.  ,
         8898.  ,  13284.  ,  12221.  ,  17984.  ,  34070.  ,  12165.  ,
        11140.  ,  17405.  ,  15017.  ,   9906.  ,  18369.  ,  14539.  ,
        25985.  ,  19457.  ,  11139.  ,  15332.  ,   8075.  ,   8165.  ,
        23188.  ,  34143.  ,  15788.  ,  13901.  ,  13399.  ,  25660.  ,
         5159.  ,  22794.  ,  24693.  ,  24850.  ,  11659.  ,  14002.  ,
        11714.  ,  12484.  ,  22015.  ,  12333.  ,  21051.  ,  11763.  ,
        11979.  ,  23187.  ,  11061.  ,   9722.  ,  12206.  ,  14965.  ,
        13570.  ,  16922.  ,  11912.  ,  17986.  ,  10858.  ,  31694.  ,
        22221.  ,  27400.  ,   8172.  ,   8763.  ,   9994.  ,   9015.  ,
        16211.  ,  21371.  ,   9374.  ,  35636.  ,  19234.  ,   9859.  ,
        11313.  ,  12784.  ,  12940.  ,  13902.  ,   4578.  ,   9881.  ,
        11467.  ,  19955.  ,   9540.  ,  15711.  ,  21821.  ,  11298.  ,
        16752.  ,  11517.  ,  29875.  ,  15863.  ,  18252.  ,   9579.  ,
        25558.  ,   7421.  ,  14635.  ,  10315.  ,  17607.  ,  15986.  ,
        22215.  ,  31730.  ,  11438.  ,  12976.  ,  19466.  ,   9775.  ,
         7285.  ,  10611.  ,  17557.  ,  22012.  ,  11857.  ,  19283.  ,
        11108.  ,  35092.  ,  14995.  ,  12981.  ,  21857.  ,  13469.  ,
        11242.  ,  12537.  ,  14571.  ,  17434.  ,   8614.  ,  14926.  ,
        15398.  ,  10020.  ,  15011.  ,  19336.  ,  12512.  ,  11471.  ,
        62084.  ,   9318.  ,   7939.  ,   9299.  ,   8725.  ,   9127.  ,
        16974.  ,  10988.  ,  39534.  ,   7228.  ,  18694.  ,  14193.  ,
        30429.  ,   8494.  ,  13339.  ,  22508.  ,  29888.  ,  11878.  ,
        19493.  ,  21110.  ,  11592.  ,  19525.  ,  57103.  ,  11472.  ,
        17897.  ,  12238.  ,  17774.  ,  17954.  ,  47863.  ,  34641.  ,
        10342.  ,   7241.  ,  22914.  ,  15112.  ,  18730.  ,  13238.  ,
        42488.  ,  33614.  ,  10470.  ,   8169.  ,  16982.  ,  30483.  ,
        10716.  ,  32474.  ,  17806.  ,   9368.  ,  12714.  ,  17217.  ,
        16271.  ,  17973.  ,  24913.  ,  19095.  ,  22630.  ,  19152.  ,
        38212.  ,  18438.  ,  30968.  ,  14420.  ,  11608.  ,  14602.  ,
        17908.  ,  16388.  ,  47151.  ,  17470.  ,  20135.  ,  13370.  ,
        26712.  ,  11372.  ,   9182.  ,  14435.  ,  13818.  ,  14810.  ,
         7438.  ,  35022.  ,  13044.  ,  38075.  ,  19246.  ,  15505.  ,
        34593.  ,  14925.  ,  14758.  ,  12653.  ,  18586.  ,  12546.  ,
        20395.  ,  18277.  ,  10728.  ,   7046.  ,  17306.  ,  39319.  ,
        11462.  ,   8510.  ,  11919.  ,   6873.  ,  16726.  ,  10249.  ,
        11152.  ,  23233.  ,  14070.  ,  11129.  ,   8518.  ,   8799.  ,
        38854.  ,  17987.  ,   9987.  ,  15832.  ,  15669.  ,  10907.  ,
        21467.  ,  10891.  ,  15739.  ,   8452.  ,   9769.  ,  16724.  ,
        12335.  ,  10860.  ,  15652.  ,  11264.  ,   8760.  ,  11371.  ,
        21284.  ,  24742.  ,  20138.  ,  10228.  ,  11660.  ,   8676.  ,
         7817.  ,  23572.  ,  17372.  ,   8735.  ,  13227.  ,  13120.  ,
        11310.  ,  16368.  ,  15917.  ,   5088.  ,  25039.  ,  10528.  ,
        14886.  ,   9472.  ,  23530.  ,  14037.  ,   7587.  ,  11838.  ,
        12961.  ,   8803.  ,  14237.  ,  57390.  ,   9154.  ,  11476.  ,
        12418.  ,  10469.  ,  20176.  ,  11973.  ,  14914.  ,  10962.  ,
         7915.  ,  16480.  ,  14194.  ,  13350.  ,   7982.  ,  11662.  ,
        16104.  ,   9349.  ,   7586.  ,  13159.  ,  15876.  ,  12213.  ,
        17874.  ,  19440.  ,  20987.  ,  18423.  ,  16525.  ,   9429.  ,
        10325.  ,  11107.  ,   9808.  ,  14900.  ,  26731.  ,  22764.  ,
        18592.  ,  44839.  ,   9809.  ,  20833.  ,  11696.  ,  27653.  ,
        10539.  ,  14984.  ,   4877.  ,  17020.  ,  13763.  ,  14822.  ,
         9800.  ,  19695.  ,  52437.  ,  13674.  ,  16670.  ,  68593.  ,
         6834.  ,  10045.  ,  29018.  ,  18634.  ,  14629.  ,  17626.  ,
         8382.  ,  15721.  ,   9572.  ,  21986.  ,  10633.  ,  19549.  ,
        22008.  ,  12105.  ,   8524.  ,  13332.  ,  10176.  ,  12532.  ,
        11033.  ,   9832.  ,  14451.  ,  16809.  ,  15523.  ,  18815.  ,
        14114.  ,  28264.  ,  16556.  ,  16165.  ,   7025.  ,  12551.  ,
        18560.  ,  18764.  ,  13568.  ,  16653.  ,  25768.  ,  21372.  ,
        13817.  ,  11405.  ,  28285.  ,  16532.  ,   6997.  ,  28892.  ,
        17149.  ,  27692.  ,  20693.  ,  13167.  ,  15490.  ,  10543.  ,
        11851.  ,  36020.  ,  12534.  ,  10736.  ,  18361.  ,  12872.  ,
        14561.  ,  29643.  ,  14210.  ,  13005.  ,  13456.  ,  20238.  ,
         7822.  ,  16285.  ,  11050.  ,  22233.  ,  15694.  ,  16011.  ,
         8563.  ,  17243.  ,  26817.  ,  14360.  ,  20426.  ,  14317.  ,
        14668.  ,  19317.  ,   8650.  ,  12277.  ,  34677.  ,  11490.  ,
         9665.  ,  18517.  ,  17633.  ,  30595.  ,  16568.  ,  10632.  ,
         9399.  ,  19446.  ,  10779.  ,   8757.  ,  13840.  ,  12204.  ,
        15746.  ,  12849.  ,  30766.  ,  15482.  ,  12097.  ,  19797.  ,
        16007.  ,  23716.  ,  54642.  ,  15304.  ,  12894.  ,  10272.  ,
        15108.  ,  23455.  ,   6842.  ,  14174.  ,  12368.  ,  17492.  ,
         8533.  ,  15849.  ,  20665.  ,  12721.  ,  12121.  ,  12780.  ,
        21200.  ,   9720.  ,  15138.  ,   7746.  ,  16833.  ])

In [ ]:
#actividad2

Import the data from merged_clean_ver1.csv as a dataframe. There would be a column with the sequence of numbers (to the left of column id). Drop that column(s).

Check the column state for null values. Replace those null values with the state that is represented largest number of times in that column

Lambda Expression:

Create a simple lambda expression to add three numbers. Take those three numbers as input from the user. (Since you will accept only numbers as valid inputs, check this example to see how to do it.)
Define a list as lst = [1,2,3,4,5,6,7,8,10]. Write a lambda expression to find the cube of a number. Use that lambda expression to find the cube of every number in the list. Define a list comprehension for this question.

In [30]:
data2= pd.read_csv('merged_clean_ver1.csv')
data2

,Unnamed: 0,id,state,gender,median_home_val,median_household_income,ic2,ic3,ic4,ic5,avggift,target_d
0,0,44060,FL,M,1158.437751,392,430.0,466,520.0,21975.0,28.000000,100.0
1,1,96093,IL,M,537.000000,365,415.0,410,473.0,19387.0,5.666667,7.0
2,2,43333,FL,F,725.000000,301,340.0,361,436.0,18837.0,4.111111,5.0
3,3,21885,NC,M,1158.437751,401,407.0,399,413.0,14014.0,27.277778,38.0
4,4,190108,FL,F,995.000000,252,280.0,316,348.0,17991.0,6.000000,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3988,996,66762,MI,F,632.000000,279,336.0,339,388.0,12653.0,8.533333,5.0
3989,997,6443,FL,M,595.000000,252,263.0,262,274.0,11132.0,14.692308,20.0
3990,998,151175,CA,F,2707.000000,507,504.0,538,537.0,16165.0,12.117647,22.0
3991,999,151504,CA,M,2666.000000,535,609.0,612,653.0,24745.0,12.333333,21.0
3992,1000,74303,MI,M,444.000000,225,264.0,269,299.0,10088.0,17.142857,25.0

In [31]:
data2 = data2.drop(['Unnamed: 0'], axis=1)
data2

,id,state,gender,median_home_val,median_household_income,ic2,ic3,ic4,ic5,avggift,target_d
0,44060,FL,M,1158.437751,392,430.0,466,520.0,21975.0,28.000000,100.0
1,96093,IL,M,537.000000,365,415.0,410,473.0,19387.0,5.666667,7.0
2,43333,FL,F,725.000000,301,340.0,361,436.0,18837.0,4.111111,5.0
3,21885,NC,M,1158.437751,401,407.0,399,413.0,14014.0,27.277778,38.0
4,190108,FL,F,995.000000,252,280.0,316,348.0,17991.0,6.000000,5.0
...,...,...,...,...,...,...,...,...,...,...,...
3988,66762,MI,F,632.000000,279,336.0,339,388.0,12653.0,8.533333,5.0
3989,6443,FL,M,595.000000,252,263.0,262,274.0,11132.0,14.692308,20.0
3990,151175,CA,F,2707.000000,507,504.0,538,537.0,16165.0,12.117647,22.0
3991,151504,CA,M,2666.000000,535,609.0,612,653.0,24745.0,12.333333,21.0
3992,74303,MI,M,444.000000,225,264.0,269,299.0,10088.0,17.142857,25.0

In [63]:
data2['state'].value_counts()

CA            751
FL            337
TX            293
IL            247
MI            225
NC            168
WA            153
GA            122
OR            117
WI            110
MO            108
IN            108
California    100
CO             88
AZ             88
SC             85
MN             75
KY             67
AL             59
OK             57
LA             56
TN             52
KS             48
NV             46
IA             44
NM             44
AR             42
NE             33
MS             33
Tennessee      29
MT             24
Cali           24
ID             23
SD             22
HI             21
UT             21
Arizona        17
ND             16
WY             12
AK              6
MD              4
CT              3
AP              3
NJ              2
AA              2
PA              2
NY              1
VA              1
AE              1
VT              1
WV              1
GU              1
Name: state, dtype: int64

In [32]:
data2.isna().sum()

id                         0
state                      0
gender                     0
median_home_val            0
median_household_income    0
ic2                        0
ic3                        0
ic4                        0
ic5                        0
avggift                    0
target_d                   0
dtype: int64

In [46]:
addition=lambda x,y,z: x+y+z
x = int(input('enter X'))
y = int(input('enter Y'))
z = int(input('enter Z'))

enter X1
enter Y2
enter Z3

In [47]:
addition (x,y,z)

6

In [50]:
lista = [1,2,3,4,5,6,7,8,10]

In [49]:
cube=lambda x: x**3

In [51]:

lista_2=[]
for element in lista:
  lista_2.append(cube(element))

lista_2

[1, 8, 27, 64, 125, 216, 343, 512, 1000]

In [ ]:
# new_list= [cube(element) for element in lista]     esta es otra forma

In [ ]:
#act 3

In [ ]:
'''def function_1(a,b):
    c=a+b
    return c'''

In [ ]:
suma= lambda c: a+b

In [ ]:
'''def function_2(a,b):
    c=0
    for i in range(a):
        c+=2*b
    return c'''

In [64]:
a=input()
b=input()
a, b

3
5

('3', '5')

In [65]:


    c=0
    for i in range(a):
        c+=2*b
    c

TypeError: ignored

In [62]:
function_2 (2,2)

8

In [ ]:
'''def function_3(a,b):
    c=0
    if a>3:
        c=12
    else:
        c='Too big.'
    return c'''